@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");
* {
  font-family: "Outfit", sans-serif;
}
body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  margin-left: 100px;
  margin-right: 100px;
}
#logo {
  width: 15%;
  height: auto;
}
h1 {
  color: white;
  font-size: 500%;
  text-align: center;
  font-weight: 400;
}
.question {
  margin-top: 200px;
}
.risposte {
  width: auto;
  height: auto;
  text-align: center;
}
.bottoni {
  color: white;
  font-size: large;
  font-weight: 500;
  width: 400px;
  height: 70px;
  background: transparent;
  border-radius: 10em;
  border-color: rgb(255, 255, 255);
  margin: 10px;
  cursor: pointer;
}
footer {
  margin-top: 100px;
  color: white;
  text-align: center;
}
span {
  color: #d20094;
}
.questionNumber {
  letter-spacing: 2px;
  font-weight: 500;
}


header {
  display: flex;
  justify-content: space-around;
  flex: 1;
  color: white;
}

header > .left {

}


header > .right {

}


header > .right > .timer {
    font-size: 2rem;
}
