@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");
* {
  font-family: "Outfit", sans-serif;
}
body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  margin-left: 100px;
  margin-right: 500px;
}
#logo {
  width: 15%;
  height: auto;
}
h1 {
  color: white;
  font-size: 500%;
  line-height: 70%;
}
#normal {
  font-weight: 400;
  margin-bottom: 0%;
}
#bold {
  font-size: bald;
  margin-top: 0%;
}
h2 {
  color: #c42177;
  margin-bottom: 0%;
  font-size: 200%;
}
p {
  color: white;
  font-size: larger;
}
ul {
  margin-top: 50px;
  color: white;
}
.li {
  margin: 10px;
}
footer {
  margin-top: 100px;
}
footer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer {
  display: flex;
  align-items: center;
}
.proceed {
  margin-left: 300px;
}
label {
  color: white;
}
#pCheckbox {
  font-size: larger;
  font-weight: bold;
  margin-left: 10px;
}
button {
  cursor: pointer;
  width: 230px;
  height: 70px;
  border: none;
  background-color: #00ffff;
  box-shadow: #00ffff 0px 0px 15px 5px;
  font-weight: bold;
  font-size: 25px;
  color: #0c113b;
}
:root {
  --form-control-color: white;
  --form-control-disabled: #959495;
}
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
  background-color: #0c113b;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}
