@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");
* {
  font-family: "Outfit", sans-serif;
}
body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  margin-left: 100px;
  margin-right: 100px;
}
#logo {
  width: 15%;
  height: auto;
}
h1 {
  color: white;
  font-size: 500%;
  line-height: 70%;
}
#normal {
  font-weight: 400;
  margin-bottom: 0%;
}
#bold {
  font-size: bald;
  margin-top: 0%;
}
h2 {
  color: #c42177;
  margin-bottom: 0%;
  font-size: 200%;
}
p {
  color: white;
  font-size: larger;
}
ul {
  margin-top: 50px;
  color: white;
}
.li {
  margin: 10px;
}
footer {
  margin-top: 100px;
  margin-right: 300px;
}
label {
  color: white;
  font-size: larger;
  font-weight: bold;
}
.bottone {
  text-align: right;
}
button {
  cursor: pointer;
  width: 230px;
  height: 70px;
  border: none;
  background-color: #00ffff;
  box-shadow: #00ffff 0px 0px 15px 5px;
  font-weight: bold;
  font-size: 25px;
  color: #0c113b;
}
.checkbox {
  cursor: pointer;
  background: transparent;
  border: 2px solid white;
}
